openapi: 3.0.0
info:
  title: Wheelancer API with Swagger
  version: '1.0'
  description: "This is a simple CRUD API application made with Express and documented with Swagger 
    <br><br><h1>AUTH PASS (🔑): admin
    <br><br><h1>SUPER_AUTH PASS (🔑🦹‍♂️): superadmin for System API calls and Admin registration."
servers:
  - url: http://wheelancer.hopto.org:3013/
  

#---<<<<<<<<<<<<<<<<<<<<<<<<<<<USER>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
components:
  schemas:
    User: 
           type: object
           required: 
               - username
               - email
               - name
               - password
           properties:
               user_id:
                   type: integer
               username:
                   type: string
               name:
                   type: string
               email:
                   type: string
               biography:
                   type: string
               password:
                   type: string
           example:
               username: Mahmut_03
               email: test@test.com
               name: Mahmut
               password: testtset

  securitySchemes:
    Authorization:          
      type: http
      scheme: bearer
      name: Authorization
      in: header
      description: 'Use that token => admin'
    Super-Authorization:          
      type: apiKey
      name: super_auth
      in: header
      description: 'Super Special key for creating librarians => superadmin'  
         
security:
   - Authorization: []    

paths:
#---<<<<<<<<<<<<<<<<<<<<<<<<<<<System>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

  /system/inserttuples:
    post:
      security:
        - Super-Authorization: []
      tags:
        - "System"

      description: Insert example tuples.
      responses:
        '200':
          description: OK - Inserted
        '500':
          description: MYSQL ERROR.

  /system/truncatetables:
    delete:
      security:
        - Super-Authorization: []
      tags:
        - "System"

      description: Truncate tables.
      responses:
        '200':
          description: OK - Truncated.
        '500':
          description: MYSQL ERROR.

  /system/inserttables:
    post:
      security:
        - Super-Authorization: []
      tags:
        - "System"

      description: <h1>Creates tables (Do not use until fully implemented)🧰.
      responses:
        '200':
          description: OK - Inserted.
        '500':
          description: MYSQL ERROR.


#---<<<<<<<<<<<<<<<<<<<<<<<<<<<USER>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

  /user/login:
    post:
      tags:
        - "User-General"

      description: User Login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                  username:
                    type: string
                  password:
                    type: string
              example:
               username: Mahmut_03
               password: testtset
              
      responses:
        '200':
          description: OK - Successfully logged in.
          content:
            application/json:
              schema:
                type: object
                properties:
                  user_id:
                    type: integer
                  token:
                    type: string
                  type:
                    type: integer
        '401':
          description: Unauthorized - Wrong username or email.

  /user/register:
    post:
      security:
        - Super-Authorization: []
        
      tags:
        - "User-General"

      description: Registers the user. Super-Auth Key is required in order to register as Admin.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
               user_id:
                  type: integer
               username:
                  type: string
               name:
                  type: string
               email:
                  type: string
               biography:
                  type: string
               password:
                  type: string
               type:
                  type: integer
              example:
               username: Mahmut_03
               email: test@test.com
               name: Mahmut
               password: testtset
               type: 1
      responses:
        '200':
          description: OK - Successfully registered.
          content:
            application/json:
              schema:
                type: object
                properties:
                  user_id:
                    type: integer
                  token:
                    type: string
                  type:
                    type: integer
        '406':
          description: Not Acceptable - User with same username or email already exists.

  /user/setbio:
    put:
      tags:
        - "User-General"

      description: Sets biography of a user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                  uid:
                    type: integer
                    format: user_id
                    example: 1
                  bio:
                    type: string
                    format: biography
                    example: "My Biography"
      responses:
        '200':
          description: OK - Successfully updated.
        '401':
          description: Unauthorized - Wrong username or email.

  /user/setemail:
    put:
      tags:
        - "User-General"

      description: Sets email of a user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                  uid:
                    type: integer
                    format: user_id
                    example: 1
                  email:
                    type: string
                    format: email
                    example: "new@mail.com"
      responses:
        '200':
          description: OK - Successfully updated.
        '401':
          description: Unauthorized - Wrong username or email.

  /user/addbalance:
    put:
      tags:
        - "User-General"

      description: Adds a specific amount to user's wallet.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                  uid:
                    type: integer
                    format: user_id
                    example: 1
                  amount:
                    type: integer
                    format: amount
                    example: 100
      responses:
        '200':
          description: OK - Successfull balance change.
        '401':
          description: Unauthorized - Wrong username or email.

  /user/setpassword:
    put:
      tags:
        - "User-General"

      description: Sets password of a user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                  uid:
                    type: integer
                    format: user_id
                    example: 1
                  password:
                    type: string
                    format: password
                    example: "as5f4as5df132"
      responses:
        '200':
          description: OK - Successfully updated.
        '401':
          description: Unauthorized - Wrong username or email.

  /user/setname:
    put:
      tags:
        - "User-General"

      description: Sets name of a user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                  uid:
                    type: integer
                    format: user_id
                    example: 1
                  name:
                    type: string
                    format: name
                    example: "Mr.Wonka"
      responses:
        '200':
          description: OK - Successfully updated.
        '401':
          description: Unauthorized - Wrong username or email.


  /user/setusername:
    put:
      tags:
        - "User-General"

      description: Sets username of a user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                  uid:
                    type: integer
                    format: user_id
                    example: 1
                  username:
                    type: string
                    format: username
                    example: "usn_a23s"
      responses:
        '200':
          description: OK - Successfully updated.
        '401':
          description: Unauthorized - Wrong username or email.

  /user/getunverifiedcouriers:
    get:
      tags:
        - "User-Admin"

      description: Gets unverified Couriers
      parameters:
        - in: query
          name: uid
          schema:
            type: integer
          description: Id of user
          example: 1
      responses:
        '200':
          description: OK - Successfully listed.
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    user_id:
                      type: integer
                    user_name:
                      type: string
                    name:
                      type: string
                    email:
                      type: string
                    biography:
                      type: string   
        '401':
          description: Unauthorized - Token is expired or wrong.


  /user/getverifiedcouriers:
    get:
      tags:
        - "User-Admin"

      description: Gets verified Couriers
      parameters:
        - in: query
          name: uid
          schema:
            type: integer
          description: Id of user
          example: 1
      responses:
        '200':
          description: OK - Successfully listed.
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    user_id:
                      type: integer
                    user_name:
                      type: string
                    name:
                      type: string
                    email:
                      type: string
                    biography:
                      type: string   
        '401':
          description: Unauthorized - Token is expired or wrong.

  /user/verifycourier:
    put:
      tags:
        - "User-Admin"
      description: For verifying the courier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                  uid:
                    type: integer
                    format: user_id
                    example: 15
                  courier_id:
                    type: integer
                    format: courier_id
                    example: 3
      responses:
        '200':
          description: OK - Successfully verified.
        '401':
          description: Unauthorized - Wrong username or email.


#---<<<<<<<<<<<<<<<<<<<<<<<<<<<Transport>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

  /transport/alltransports:
    get:
      tags:
        - "Transport"

      description: Listing All Transports
      responses:
        '200':
          description: OK - Listed
          content:
            application/json:
              schema:
                type: array
                items:
                    properties:
                      tid:
                        type: string
                      customer_id:
                        type: integer
                      courier_id:
                        type: integer
                      cargo_size:
                        type: integer
                      cargo_weight:
                        type: integer
                      creation_date:
                        type: string
                      departure_cords:
                        type: string
                      arrival_cords:
                        type: string
                      
        '401':
          description: Unauthorized - Token is expired or wrong.

  /transport/mytransports:
    get:
      tags:
        - "User-Customer"
      description: Listing customer's transports
      parameters:
        - in: query
          name: uid
          schema:
            type: integer
          description: Id of user
          example: 1
      responses:
        '200':
          description: OK - Listed
          content:
            application/json:
              schema:
                type: array
                items:
                    properties:
                      tid:
                        type: string
                      customer_id:
                        type: integer
                      courier_id:
                        type: integer
                      cargo_size:
                        type: integer
                      cargo_weight:
                        type: integer
                      creation_date:
                        type: string
                      departure_cords:
                        type: string
                      arrival_cords:
                        type: string
                      
        '401':
          description: Unauthorized - Token is expired or wrong.
          
#---<<<<<<<<<<<<<<<<<<<<<<<<<<<Package>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
  /package/customerpackages:
    get:
      security:
        - Super-Authorization: []
        
      tags:
        - "Package"

      description: Gets customer's own packages return all of them
      
      responses:
        '200':
          description: OK - Successfully registered.
          content:
            application/json:
              schema:
                type: object
                properties:
                  pid:
                    type: integer
                  cid:
                    type: integer
                  transport_id:
                    type: integer
                  length:
                    type: number
                  width:
                    type: number
                  height:
                    type: number
                  weight:
                    type: number
                  type:
                    type: string
                  s_long:
                    type: number
                  s_lat:
                    type: number
                  d_long:
                    type: number
                  d_lat:
                    type: number
                  status:
                    type: string
                  receiver_email:
                    type: string
                  estimated_delivery_date:
                    type: string
                  chat_channel_id:
                    type: string
                  s_city:
                    type: string
                  d_city:
                    type: string
        '406':
          description: Not Acceptable - User with same username or email already exists.
        '500':
          description: Internal Server Error
          
  /package/customerpackage:
    get:
      security:
        - Super-Authorization: []
        
      tags:
        - "Package"

      description: Gets customer's own package
      
      parameters:
        - in: query
          name: package_id
          schema:
            type: integer
          description: Id of the package
          example: 1
      
      responses:
        '200':
          description: OK - Successfully registered.
          content:
            application/json:
              schema:
                type: object
                properties:
                  pid:
                    type: integer
                  cid:
                    type: integer
                  transport_id:
                    type: integer
                  length:
                    type: number
                  width:
                    type: number
                  height:
                    type: number
                  weight:
                    type: number
                  type:
                    type: string
                  s_long:
                    type: number
                  s_lat:
                    type: number
                  d_long:
                    type: number
                  d_lat:
                    type: number
                  status:
                    type: string
                  receiver_email:
                    type: string
                  estimated_delivery_date:
                    type: string
                  chat_channel_id:
                    type: string
                  s_city:
                    type: string
                  d_city:
                    type: string
        '404':
          description: Package could not found.
        '500':
          description: Internal Server Error
          
    delete:
      security:
        - Super-Authorization: []
      tags:
        - "Package"

      description: Deletes customer's package to the system.
      
      responses:
        '200':
          description: OK - Package successfully removed from system.
        '403':
          description: Package could not removed from system.
        '404':
          description: Package could not be found.
        '409':
          description: Package has an active transportation process you can not remove it from the system.
        '500':
          description: Internal Server Error
          
  /package/addcustomerpackage:
    post:
      security:
        - Super-Authorization: []
        
      tags:
        - "Package"

      description: Add customer's package to the system.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                length:
                  type: number
                width:
                  type: number
                height:
                  type: number
                weight:
                  type: number
                type:
                  type: string
                s_long:
                  type: number
                s_lat:
                  type: number
                d_long:
                  type: number
                d_lat:
                  type: number
                receiver_email:
                  type: string
                s_city:
                  type: string
                d_city:
                  type: string
                image_raw:
                  type: string
              example:
                length: 12.5
                width: 14.2
                height: 5.1
                weight: 12.4
                type: Flammable,Oxidizing
                s_long: -99.79118
                s_lat: 17.08936
                d_long: -91.79118
                d_lat: 19.08936
                receiver_email: ""
                s_city: ""
                d_city : ""
                image_raw: BASE64IMG
                
      responses:
        '200':
          description: OK - Package added successfully.
        '403':
          description: Forbidden - Package could not be added.
        '500':
          description: Internal Server Error
  
  /package/allpackageproofs:
    get:
      security:
        - Super-Authorization: []
        
      tags:
        - "Package"

      description: This works for both customer and courier.
      
      parameters:
        - in: query
          name: package_id
          schema:
            type: integer
          description: Id of the package
          example: 1
      
      responses:
        '200':
          description: OK - Successfully registered.
          content:
            application/json:
              schema:
                type: object
                properties:
                  proof_id:
                    type: integer
                  type:
                    type: integer
                  image:
                    type: integer
                  date:
                    type: number
        '500':
          description: Internal Server Error
          
          
  /package/packageproof:
    get:
      security:
        - Super-Authorization: []
        
      tags:
        - "Package"

      description: Get Package Proof Data
      
      parameters:
        - in: query
          name: image_uuid
          schema:
            type: integer
          description: Id of the image
          example: 1
      
      responses:
        '200':
          description: OK - Successfully registered.
          content:
            text/plain:
              schema:
                type: string
        '404':
          description: Proof image could not found.
        '405':
          description: Image file is missing in our system.
        '500':
          description: Internal Server Error